/* HEADERS */
#simple-header {
    direction: ltr;
    padding: 10px;
    text-align: left;
}

#simple-header #back-btn img {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 10px;
}

.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: var(--tertiary-color);
    border-radius: 10px;
    margin: 0;
}

.icon img {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.info-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

.info-icon img {
    width: 20px;
    height: 20px;
    transform: scaleX(-1);
}