/* HEADERS */
#simple-header {
    direction: ltr;
    padding: 10px;
    text-align: left;
}


#simple-header #back-btn {
    background: white;
}

/* ICONS */
.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: var(--tertiary-color);
    border-radius: 10px;
    margin: 0;
}

.icon img {
    width: 30px;
    height: 30px;
    padding: 5px;
    object-fit: cover;
    border-radius: 10px;
}

.info-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

.info-icon img {
    width: 20px;
    height: 20px;
    transform: scaleX(-1);
}

/* MESSAGES */
#messages {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-height: 100vh;
    z-index: 2;
    overflow: auto;
}

#messages .message {
    backdrop-filter: blur(15px);
    border-radius: 10px;
    background: linear-gradient(8deg, #fff0, #fff2, #fff3);
    margin: 10px;
    border-radius: 10px;
    padding: 2px;
}

#messages .icon-container {
    display: inline-block;
    width: 60px;
    vertical-align: top;
}

#messages .message-container {
    display: inline-block;
    width: calc(100% - 70px);
}

#messages .icon {
    margin: 5px;
}

#messages .title {
    font-family: Pinar !important;
    margin: 5px 0;
}

#messages .detail {
    margin: 0;
}

.message.success .icon {
    background: var(--green);    
}

.message.fail .icon {
    background: var(--red);
}

.message.warning .icon {
    background: var(--yellow);
}

.message.info .icon {
    background: var(--blue);
}

.message.success .title {
    color: var(--green);    
}

.message.fail .title {
    color: var(--red);
}

.message.warning .title {
    color: var(--yellow);
}

.message.info .title {
    color: var(--blue);
}

/* SLIDE SHOW */
.slide-show {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

.slide-show .slide {
    display: inline-block;
    margin: 10px;
}


/* FOOTER */
footer {
    background: var(--primary-color);
    padding: 20px;
    padding-bottom: 0;
}

#up-arrow-container {
    margin: 0;
    display: block;
    text-align: left;
}

#up-arrow-container img {
    background: var(--secondary-color);
    border-radius: 10px;
}

/* ANIMATION */
.icon:not(.profile-picture):hover {
    transform: scale(1.15)
}

#messages .message:hover {
    transform: scale(1.03);
}

/* ADD DELAYS */
.icon:not(.profile-picture), #messages .message {
    transition: var(--animation-delay);
}