/* PREVIEW SECTION */
#preview #img {
    width: 65%;
    margin-right: 2%;
    display: inline-block;
}

#preview #img-container {
    position: relative;
}

#preview #img #source {
    display: inline-block;
    width: 100%;
}

#preview a {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1c1a1aad;
    right: 0;
    top: 0;
}

#preview #preview-icon {
    position: absolute;
    right: calc(50% - 20px);
    top: calc(50% - 20px);
    width: 40px;
}

#preview a:hover #preview-icon {
    transform: scale(1.3);
}

#preview #img h3 {
    position: absolute;
    z-index: 1;
    background: red;
    color: white;
    padding: 5px 15px;
    rotate: -45deg;
    left: -20px;
    top: -5px;
}

#preview #stars {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    direction: ltr;
}

#preview #stars img {
    display: block;
    width: 35px;
}

/* DETAILS SECTION */
#details {
    background: red;
    padding: 10px 10px;
    margin-top: 20px;
    border-top-left-radius: 200px;
}

#details #source-header h1 {
    font-size: 24px;
    margin: 0;
    color: white;
}

#details #source-header h2 {
    color: white;
    font-size: 20px;
}